<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="...">

<div class="container background">
  <video autoplay loop  muted playsinline id="background-video">
    <source src="assets/sky.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
  <div class="tetris-container">

    <tetris-core #game
      [class.black-and-white]="bw"
      tileSize="30px"
      (lineCleared)="onLineCleared()"
      (gameOver)="onGameOver()"
      (scoreChanged)="updateScore($event)">
    </tetris-core>
 

<table class="controls">
    <tr>
       <!--  <audio id="gameMusic" loop>
            <source src="assets/game-music.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
            
          </audio> -->
          <audio id="gameMusic2" loop>
            <source src="assets/lineClear.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
            
          </audio>
        <td> <button  class="circular-button"
          (click)="game.actionStart()">Start</button></td>
        <td><button  class="circular-button2"
          (click)="game.actionStop()">Stop</button></td>
        <td><button  class="circular-button3"
          (click)="game.actionReset()">Reset</button></td>
     
   
    </tr>
    <tr>
      <td><button class="circular-button6" (click)="game.actionDrop()">Drop</button></td>
      <td>
        <button  class="circular-button4"
        (click)="toggleMute()">Mute</button>
    </td> 
  </tr>
    <table class="keyboard">
      <tr>
        
        <td></td>
        <td>
          <button type="button" class="keyboard-button" (click)="game.actionRotate()" title="Rotate">
            <i class="fas fa-arrow-up"></i> 
          </button>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <button type="button" class="keyboard-button" (click)="game.actionLeft()">
            <span class="visually-hidden">Rotate Left</span>
            <i class="fas fa-arrow-left"></i>
          </button>
        </td>
        <td>
          <button type="button" class="keyboard-button" (click)="game.actionDown()">
            <span class="visually-hidden">Rotate Down</span>
            <i class="fas fa-arrow-down"></i>
          </button>
        </td>
        <td>
          <button type="button" class="keyboard-button" (click)="game.actionRight()">
            <span class="visually-hidden">Rotate Right</span>
            <i class="fas fa-arrow-right"></i>
          </button>
        </td>
      </tr>
    </table>
 
    <tr style="height: 20px">
        <td></td>
    </tr>
   
    <tr>
        <td colspan="3">
       
        </td>
        <td>
          <div class>Your garden state: {{ currentScore }} Tree </div>
          <br>
          <div class="garden">
              <div class="tree-container">
                  <img *ngFor="let treeImage of treeImages" [src]="treeImage" alt="Tree" />
              </div>
          </div>
      </td>
    </tr>
</table>
</div>
<div *ngIf="startMessageVisible" class="start-message">
404 Page Not Found
<br>- Press space to Play</div>


</div>
