

  <section class="text-center container my-5 ">

  <div class="card mx-6 mx-md-5 shadow-5-strong" style="
        margin-top: 50px;
        background: hsla(0, 16%, 30%, 0);
        backdrop-filter: blur(5px);
        ">
    <div class="card-body py-5 px-md-5" >

      <div class="row d-flex justify-content-center" >
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Inscription</h2>
          <form (ngSubmit)="register(f)" #f=ngForm  [formGroup]="myForm" >
          
                <!-- Nom -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" formControlName="lastName"  class="form-control"  placeholder="Nom">
                      <div  *ngIf="myForm.get('lastName').invalid && (myForm.get('lastName').dirty || myForm.get('lastName').touched)">
                        <div  style="color: red;"*ngIf="myForm.get('lastName').errors.required">Entrez votre Nom!</div>
                      </div>
                    </div>
                    <!--prénom-->
                    </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" formControlName="firstName"  class="form-control"  placeholder="Prénom">
                      <div  *ngIf="myForm.get('firstName').invalid && (myForm.get('firstName').dirty || myForm.get('firstName').touched)">
                        <div  style="color: red;"*ngIf="myForm.get('firstName').errors.required">Entrez votre Nom!</div>
                      </div>
                  </div>
                </div>
                </div>

            <!-- Email  -->
            <div class="form-outline mb-4">

              <input type="email" formControlName="email" name="email"  class="form-control"  placeholder="Email">
              <div  *ngIf="myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched)">
                <div  style="color: red;"*ngIf="myForm.get('email').errors.required">Entrez votre email!</div>
                <div style="color: red;" *ngIf="myForm.get('email').errors.email">Format invalide.</div>
              </div>
              <br>
       
             <div class="form-outline mb-4">
              <input type="password" name="password" formControlName="password" class="form-control" placeholder="Mot de passe" >
              <div *ngIf="myForm.controls.password.errors && (myForm.controls.password.dirty || myForm.controls.password.touched)">
              <div style="color: red;" *ngIf="myForm.controls.password.errors.required">Entrez votre mot de passe</div>
              <div style="color: red;" *ngIf="myForm.controls.password.errors.minlength">Le mot de passe doit contenir au moins 8 caractères</div>
            </div>
              <br>
              <input type="password" name="passwordVerification" formControlName="passwordVerification" class="form-control" placeholder="Confirmer le mot de passe">
              <div *ngIf="myForm.controls.passwordVerification.errors && (myForm.controls.passwordVerification.dirty || myForm.controls.passwordVerification.touched)">
                <div style="color: red;" *ngIf="myForm.controls.passwordVerification.value !== myForm.controls.password.value">Les mots de passe ne correspondent pas</div>
              </div>
            </div>
            </div>





            <div style="color:red"
            *ngIf="msg"><i class="bi bi-exclamation-circle"></i>
             {{msg}}</div>


            <!-- Submit button -->
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <button  type="submit"  class="btn btn-primary btn-lg">Register</button>
            </div>

            <!-- Register buttons -->
            <div class="text-center" >
              <p>vous avez déja un compte??</p><a href="http://localhost:4200/login" style=" color: #aaa5a5 ;"> connecter </a>




            </div>
          </form> 
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->

 
