<div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="card card-registration">
          <div class="card-body p-md-5 text-black">
            <h3 class="mb-5 text-uppercase text-center">Add Blogs</h3>
            <form (ngSubmit)="addbloges(f)" [formGroup]="myForm" #f="ngForm">
              <div class="mb-3">
                <div class="form-outline">
                  <input type="text" formControlName="titre" ngModel class="form-control" placeholder="Title">
                  <div *ngIf="myForm.get('titre').invalid && (myForm.get('titre').dirty || myForm.get('titre').touched)"
                    style="color: red;">Enter the title!
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="form-outline">
                  <textarea type="tex" formControlName="description" ngModel class="form-control"
                    placeholder="Description" ></textarea>
                  <div *ngIf="myForm.get('description').invalid && (myForm.get('description').dirty || myForm.get('description').touched)"
                    style="color: red;">Enter the description!
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="form-outline">
                  <input type="date" formControlName="date" ngModel class="form-control" placeholder="Date">
                  <div *ngIf="myForm.get('date').invalid && (myForm.get('date').dirty || myForm.get('date').touched)"
                    style="color: red;">Enter the date!
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="form-outline">
                  <input type="text" formControlName="image" ngModel class="form-control" placeholder="Image URL">
                  <div *ngIf="myForm.get('image').invalid && (myForm.get('image').dirty || myForm.get('image').touched)"
                    style="color: red;">Enter the image URL!
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="form-outline">
                  <textarea rows="3" type="text" formControlName="idea" ngModel class="form-control" placeholder="Idea"></textarea>
                  <div *ngIf="myForm.get('idea').invalid && (myForm.get('idea').dirty || myForm.get('idea').touched)"
                    style="color: red;">Enter the idea!
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-light btn-lg" routerLink="/">Retour</button>
                <button type="submit" class="btn btn-outline-success">Ajouter</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  